@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
}

@theme {
  /* Fonts */
  --font-Satoshi: Satoshi, sans-serif;

  /* Colors */

  /* Primary */

  --color-primary-10: #fb2c36;
  --color-primary-15: #ff6467;

  /* neutral */

  --color-neutral-10: #27272a;
  --color-neutral-15: #3f3f47;
  --color-neutral-20: #71717b;
  --color-neutral-25: #9f9fa9;
  --color-neutral-30: #252525cc;
  --color-neutral-35: #52525c;

  /* Shadows */
  --shadow-footer: 0px -2px 14px 0px rgba(0, 0, 0, 0.2);

  /* Gradients */
  --bg-gradient-primary: linear-gradient(
    90deg,
    rgba(255, 120, 0, 0.1) 19.52%,
    rgba(255, 230, 1, 0.1) 137.52%
  );
}

.bg-gradient-future-roadmap {
  background: var(--bg-gradient-future-roadmap);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
